{% extends 'admin_dashboard.html' %}


{% block dashboard-content %}

    <h2>Session Id</h2>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <br>

                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">School</h5>
                        <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                    </div>
                </div>
                <br>

                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Details</h5>
                        <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                    </div>
                </div>
                <br>

                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Applications</h5>
                        <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                    </div>
                </div>

                <br>

            </div>
            <div class="col">
                <br>
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Student Score</h5>
                        <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                    </div>
                </div>
                <br>
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">School-Admin Score</h5>
                        <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                    </div>
                </div>
                <br>

                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Machine Learning Score</h5>
                        <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                    </div>
                </div>
                <br>
                <button type="button" class="btn btn-success">Approve Scores</button>
                <button type="button" class="btn btn-danger">Disregard Scores</button>


            </div>
        </div>
        <br>


{% endblock dashboard-content %}