{% extends 'school_admin_dashboard.html' %}

{% block addsession %}
    <a class="nav-link" href="{% url 'school_admin_addsession' school.pk %}">
{% endblock %}

{% block dashboard-content %}

    <h2>Recent Activity</h2>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <br>
                <div class="list-group list-group-flush border-bottom scrollarea">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">Activity type</strong>
                        <small class="text-muted">DATE-TIME</small>
                    </div>
                    <div class="col-10 mb-1 small">Very Very Very brief brief brief description of event.</div>
                </div>
                <br>
                <div class="list-group list-group-flush border-bottom scrollarea">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">Activity type</strong>
                        <small class="text-muted">DATE-TIME</small>
                    </div>
                    <div class="col-10 mb-1 small">Very Very Very brief brief brief description of event.</div>
                </div>
                <br>
                <div class="list-group list-group-flush border-bottom scrollarea">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">Activity type</strong>
                        <small class="text-muted">DATE-TIME</small>
                    </div>
                    <div class="col-10 mb-1 small">Very Very Very brief brief brief description of event.</div>
                </div>
                <br>
                <div class="list-group list-group-flush border-bottom scrollarea">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="mb-1">Activity type</strong>
                        <small class="text-muted">DATE-TIME</small>
                    </div>
                    <div class="col-10 mb-1 small">Very Very Very brief brief brief description of event.</div>
                </div>
                <br>

            </div>
            <div class="col">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{ school.name }}</h5>
                        <p class="card-text">{{ school.school_description }}</p>
                    </div>
                </div>
                <br>
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">{{ school.location.city }} - {{ school.location.country }} -
                            {{ school.location.district }}</h5>
                        <p class="card-text">{{ school.location.description }}</p>
                    </div>
                </div>
                <br>
                <button type="button" class="btn btn-warning">Edit</button>
                <button type="button" class="btn btn-danger">Remove</button>

            </div>
        </div>
    </div>



{% endblock dashboard-content %}