{% extends 'school_admin_dashboard.html' %}
{% load bootstrap %}

{% block addsession %}
    <a class="nav-link" href="{% url 'school_admin_addsession' school.pk %}">
{% endblock %}

{% block dashboard-content %}

    <h2>Session {{ session.pk }}</h2>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <br>

                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Details</h5>
                        <p class="card-text">Course: {{ session.course }}</p>
                        <p class="card-text">Time: {{ session.start_time }} - {{ session.end_time }}</p>
                        <p class="card-text">{{ session.description }}</p>
                    </div>
                </div>
                <br>


            </div>
            <div class="col">
                <h4>Please review your volunteer:</h4>
                <form method="post">
                    {% csrf_token %}

                    <br>


                    {{ form|bootstrap }}
                    <br>

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
                <br>


            </div>
        </div>
        <br>


{% endblock dashboard-content %}